.main-image-article {
    display: block;
    max-width: 350pt;
    padding-top: 20pt;
}

.images-below {
    display: flex;
    justify-content: space-around;
    padding-top: 20pt;
}

.images-below:last-child {
    padding-bottom: 50pt;
}

.small-image-article {
    max-width: 90pt;
}