.header {
    display: flex;
    justify-content: center;
    background-color: #E58763;
    text: white;
}

.footer {
    display: flex;
    justify-content: center;
    background-color:  #E58763;
}
