.card-row {
    display: flex;
    align-content: space-between;
    padding: 50pt;
    flex-wrap: nowrap;

}

h1 {
    padding-top: 20pt;
}

.heading-row { 
padding-top: 20pt;
}

h3 {
    padding-top: 20pt;
}

.card-body {
    background-color: #01AA8D;
}

.tab-image {
    max-width: 200pt;
    padding-top: 10pt;
    padding-bottom: 10pt;
}