.card-row {
    display: flex;
    align-content: space-between;
    padding: 50pt;
    /* background-color:  #E58763; */
    flex-wrap: nowrap;

}

h1 {
    padding-top: 20pt;
}

.heading-row { 
padding-top: 20pt;
}

h3 {
    padding-top: 20pt;
}

.card-body {
    background-color: #01AA8D;
}